@import url('https://fonts.googleapis.com/css2?family=Mali&family=Poppins&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    width: 20em;
    height: auto;
    background: hsl(0, 0%, 100%);
    border-radius: 3%;
    box-shadow: 4px 4px 16px rgb(192, 190, 190);
    text-align: center;
    padding: 1em;
    font-size: 0.9375em;
}

.card-logo{
    width: 100%;
    height: auto;
    border-radius: 3%;
}

.card-header{
    text-align: center;
    margin-top: 1em;
}

.context{
    text-align: center;
    padding: 1.6em;
    color: rgb(138, 135, 135);
}

footer{
    margin-top: 1em;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 580px){
    .card{
        width: 20em;
        margin-top: 1em;
    }
}
